body {
  padding: 10px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #366F8B;
  text-decoration: none;
}

a:hover{
  color: #6592A8;
}

.top-logo {
  margin: 13px 0;
  font-size: 2.3em;
}

.top-logo a, .top-logo a:hover {
  color:black;
}

.alert-expired{
  background-color: #dedede;
}

.message-container{
  margin-bottom: 10px;
}

.message-deleted{
  color: #888;
}

.footer-link-container {
  margin: 20px 0;
}

.footer-link {
  display: inline-block;
  padding: 0 10px;
}

.active-page {
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.input-field {
  margin-bottom: 13px;
}

.input-field input, .input-field select{
  width: 100%;
}

.pagination-container {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.visibility-hidden{
  visibility: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  vertical-align: middle;
  min-width: 50px;
  padding: 2px;
}

.messages-text {
  word-break: break-word;
}

.footer {
  text-align: center;
}

.error-stack {
  background-color: #efefef;
  padding: 20px;
  overflow: scroll;
}

.system-diagram {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.recent-users-list {
  /*max-height: 150px;
  overflow-y: auto;*/
}

.recent-users-user {
  display: inline-block;
  padding-right: 15px;
}

.user-icon {
  border-radius: 8px;
}

.user-icon-before-text {
  margin-right: 10px;
}

.report-item-container {
  text-align: center;
}

.report-item-container i{
  width: 100%;
  text-align: center;
  font-size: 4em;
  color: #ccc;
}

.donate-text {
  display: inline-block;
}

/**** Bootstrap overrides ****/

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #247CAD;
  border-color: #247CAD;
  color: #F3FAFE;
  padding: 10px 30px;
}

.btn-primary:hover {
  background-color: #155172;
  border-color: #155172;
}

.btn-primary:disabled {
  background-color: #aaa;
  border-color: #aaa;
}

.icon-button {
  /*
  width: 30px;
  height: 30px;
  border-radius: 5px;
  */
}

.chat-item {
  margin-bottom: 50px;
}

.chat-item-image-container{
  width: 142px;
  height: 80px;
  display: inline-block;
  background-color: #ccc;
  margin-right: 15px;
}

.chat-item-image-container img{
  width: 100%;
}
