extends layout.pug

block variables
  - subtitle = 'このサイトについて'

block content
  p 趣味で作ったシステムです。
  p Youtube配信のチャットをウェブスクレイピングするソフトです。
  p システム全体は JavaScript を用いて開発しました。
  p ※ Herokuを使わなくなった。
  img.img-fluid.system-diagram(src='./images/diagram.jpg', alt='Diagram')
