if useAnalytics
  //- Global site tag (gtag.js) - Google Analytics
  script(async src=`https://www.googletagmanager.com/gtag/js?id=${analyticsKey}`)
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '!{analyticsKey}');
else
  // No Google Analytics used
