block variables
  - let subtitle = null

doctype html
html
  head
    title= helpers.joinTitle(title, subtitle)
    base(href=baseUrl)
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='https://use.fontawesome.com/d72a37b632.js')
    include analytics-tag-partial
    link(href='https://fonts.googleapis.com/css?family=Reggae+One' rel='stylesheet')
    link(href='theme.css' rel='stylesheet')
    link(href='app.css' rel='stylesheet')
    //- TODO: Use slim instead. But it's only a few KB smaller.
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    script(src='app.js')
  body.d-flex.flex-column.min-vh-100
    .container.flex-grow-1
      .mb-2
        .top-logo.d-inline-block
          a(href='')= title
        include donation-partial
      if subtitle
        .mb-4
          h2= subtitle
      block content
    footer.footer
      .footer-link-container
        .footer-link
          a(class=(currentPath == '/' ? 'active-page' : '') href='') トップ
        .footer-link
          a(class=(currentPath == '/about' ? 'active-page' : '') href='about') このサイトについて
        .footer-link
          a(class=(currentPath == '/report' ? 'active-page' : '') href='report') システムの状態
      | By
      =' '
      a(href='https://www.chrisvilches.com')|Chris Vilches
      //-<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      //-<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
      //-<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
